@model IEnumerable<NopCommerce.Models.InvoiceSell>
@{
	ViewData["Title"] = "Invoices";
}
<div class="container">
	<br />
	<hr style="margin-left:15%;width:70%;"/>
	<br />
	<p>
		<button class="btn btn-success"style="margin-left:15%">Create New + </button>
	</p>
	<br />
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Invoice No
				</th>
				<th>
					Date G
				</th>
				<th>
					EName
				</th>
				<th>
					Main Contact
				</th>
				<th>
					AName
				</th>
				<th>
					Invoice VATID
				</th>
				<th>
					Client VendorNo
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem=>item.BuildingNo)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.InvoiceNo)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.DateG)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.EName)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.MainContact1)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.AName)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.InvoiceVatid)
					</td>
					<td>
						@Html.DisplayFor(modelItem=>item.ClientVendorNo)
					</td>
				</tr>
			}
		</tbody>
	</table>


</div>